<!-- form handling -->
<form action="/api/users" method="post" id="add_user">
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-light cheeto"
        >Whisper About (Subject):
      </label>
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="name"
        placeholder="John Doe (or say anonymous)"
      />
    </div>
    <div class="form-group">
      <label for="whisper" class="text-light cheeto">Whisper: </label>
      <input
        type="text"
        name="whisper"
        placeholder="Is a local Paracetamol dealer"
      />
    </div>
    <div class="form-group">
      <label for="confidence" class="text-light cheeto"
        >Confidence Level:
      </label>
      <div class="radio inline">
        <input type="radio" id="radio-2" name="confidence" value="verylow" />
        <label for="radio-2" class="radio-label">very low </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-3" name="confidence" value="low" />
        <label for="radio-3" class="radio-label">low </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-4" name="confidence" value="medium" />
        <label for="radio-4" class="radio-label">medium </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-5" name="confidence" value="high" />
        <label for="radio-5" class="radio-label">high </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-6" name="confidence" value="veryhigh" />
        <label for="radio-6" class="radio-label">very high</label>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="status" class="text-light cheeto">Active or not? </label>
      <div class="radio inline">
        <input type="radio" id="radio-7" name="status" value="active" />
        <label for="radio-7" class="radio-label">active </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-8" name="status" value="inactive" />
        <label for="radio-8" class="radio-label">inactive</label>
      </div>
    </div> -->
    <div class="form-group">
      <button type="submit" class="btn text-dark update">
        Whisper
        <i class="fa-solid fa-bullhorn" style="color: #000">
          <small style="font-size: 10px"> (you sure buddy?) </small></i
        >
      </button>
    </div>
  </div>
</form>
