<tr>
  <td>1</td>
  <td>Paul</td>
  <td>Paul is planning to buy a Porsche 911</td>
  <td>low</td>
  <td>Active</td>
  <td>
    <a href="/update-user" class="btn border-shadow update"
      ><span class="text-gradient"
        ><i class="fa-solid fa-pen-to-square" style="color: #000"></i></span
    ></a>
    <a class="btn border-shadow delete"
      ><span class="text-gradient"
        ><i class="fa-solid fa-trash deldel" style="color: red"></i></span
    ></a>
  </td>
</tr>
